<div class="cmd cmd-widget arcgauge #history#" data-type="info" data-subtype="string" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" title="{{Date de valeur}} : #valueDate#<br/>{{Date de collecte}} : #collectDate#" >
  <div class="title #hide_name#">
    <span class="cmdName">#name_display#</span>
  </div>
  <div class="content-sm">
    <div class="pxcarbu-img-div" data-cmd_id="#id#">
    	<img class="pxcarbu-img"   src="#value#" alt="nothing">
    </div>
  </div>
  <script>
    jeedom.cmd.update['#id#'] = function(_options) {
      var cmd = $('.pxcarbu-img-div[data-cmd_id=#id#]');
      console.log("html current : "+cmd);
      console.log("nex img : "+_options.display_value);
      cmd.empty().append('<img class="pxcarbu-img-div"  src="'+_options.display_value+'" alt="not found" >');
    }
      jeedom.cmd.update['#id#']({display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#'})
  </script>