    <div style="height:60px; vertical-align: middle;">
        <div style="float: left; width: #logowidth#px; line-height: 60px; margin-left: 5px; color:rgba(100, 100, 100, 0);">
            #LogoStation#
        </div>
        <div style="float: right; width: 60px; line-height: 60px; font-size: 14px; margin-right: 5px;">
            #TopPrix#
        </div>
        <div style="margin-left: #TextMargin#px; width: 350px; font-size: 12px; position: relative; top: 50%; -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%); transform: translateY(-50%);">
            #TopMarque#, #TopVille#<br />
            #TopMaJ#
        </div>
    </div>
    <br />