    <tr style="background-color: transparent !important; font-size: 12px !important; height: 70px;">
        <th style="width: #logowidth#px; line-height: 60px; color:rgba(100, 100, 100, 0); text-align: center;">#LogoStation#</th>
        <th style="font-size: 12px !important; font-weight: normal; width: 220px;">#TopMarque#, <span title="#FullAdress#">#TopVille#</span><br>
            #TopMaJ#</th>
        <th style="width: 60px; font-size: 14px !important; margin-right: 5px; line-height: 60px;" class="cmd cmd-widget #history#" data-type="info" data-subtype="numeric" data-cmd_id="#history_id#" data-cmd_uid="#uid#" data-eqlogic_id="#id#">
            #TopPrix# €/l
        </th>
    </tr>
